#nav {
    visibility: hidden;
    display: flex;
    flex-direction: column;

    width: 400px;
    position: absolute;
    padding: 10px 10px 10px 145px;
    bottom: 0;

    border-right: 1px solid #232323;

    background-color: white;
    z-index: 2;
}

#nav a {
    font-weight: bold;
}